.detail {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.mainImage {
  width: 100vw;
  filter: brightness(20%);
}

.infoContainer {
  display: flex;

  justify-content: space-between;
  height: 30vw;
  width: 100vw;
  position: absolute;
  top: 10vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40vw;
  margin-left: 7vw;
  margin-right: 100px;
}

.item:nth-child(1) {
  width: 40vw;
  height: 5vw;
  white-space: nowrap;
}
.item:nth-child(2) {
  width: 40vw;
  height: 2vw;
}
.item:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 5vw;
  margin-top: 1vw;
}
.item:nth-child(4) {
  margin-top: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1vw;
  width: 40vw;
}

.movieTitle {
  font-size: 3vw;
  margin: 0;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.tags span {
  margin-right: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: 1px solid white;
  border-radius: 3px;
  height: 2vw;
  line-height: 2vw;
  text-align: center;
  font-size: 1vw;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.btn div {
  color: white;
  font-size: 1vw;
}

.playBtn {
  background-color: white;
  width: 30vw;
  height: 5vw;
  border-radius: 5px;
  font-size: 1.3vw;
  margin-right: 2vw;
}

.shareBtn {
  margin: 0.5vw;
}

.likeBtn {
  margin: 0.5vw;
}

.likeBtn svg {
  width: 2.5vw;
  height: 2.5vw;
}

.shareBtn svg {
  width: 2.5vw;
  height: 2.5vw;
}

.coverImage {
  border-radius: 4px;
  box-shadow: 2px 2px 5px gray;
  margin-right: 7vw;
}
