.header {
  font-size: 1vw;
  display: flex;
  position: relative;
  z-index: 100;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: 5vw;
  line-height: 5vw;
}

.navigator {
  font-size: 1.2em;
  margin-left: 50px;
  width: 100%;
}

.navLeft {
  float: left;
}

.navRight {
  float: right;
  margin-right: 2vw;
}

.navigatorLink {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  opacity: 0.5;
}

.navigatorLink:hover {
  opacity: 1;
  transition: 0.1s;
}

.title {
  background-color: transparent;
  text-decoration-line: none;
}

.title h1 {
  background-color: transparent;
  margin: 0;
  margin-left: 100px;
  color: white;
}
