.movie {
  margin: 0.3vw;
}

.movie img {
  border-radius: 5px;
  width: 10vw;
}

.movieLink {
  text-decoration-line: none;
  color: white;
}

.movieBlock:hover {
  transform: translateY(-10px);
  transition: 0.2s;
}

.movieBlock:not(:hover) {
  transform: translateY(10px);
  transition: 0.2s;
}
