.header {
  font-size: 1vw;
  display: flex;
  position: relative;
  z-index: 100;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.navigator {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-left: 50px;
}

.navigatorLink {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  opacity: 0.5;
}

.navigatorLink:hover {
  opacity: 1;
  transition: 0.1s;
}

.title {
  background-color: transparent;
  text-decoration-line: none;
}

.title h1 {
  background-color: transparent;
  margin-left: 100px;
  color: white;
}
