.home {
  position: absolute;
  top: 0px;
  width: 99vw;
}

.body {
  position: relative;
  top: -40vw;
}
.movieContainer {
  padding: 30px;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1)
  );
}

.gradation {
  padding-top: 200px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  );
}

.todayContainer {
  display: flex;
  flex-direction: column;
}

.todayTitle {
  margin: 15px;
  font-size: 2em;
}

.movies {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}

.movies::-webkit-scrollbar {
  display: none;
}

.mainImage {
  width: 100%;
}
