.movie {
  margin: 5px;
}

.movie img {
  border-radius: 5px;
}

.movieLink {
  text-decoration-line: none;
  color: white;
}

.movieBlock:hover {
  transform: translateY(-10px);
  transition: 0.2s;
}
